.topicos{
	float:center;
	margin-top:180px;
	margin-left:600px;
	margin-right:300px;	
	font-family:monospace;
	font-size:22px;
	color:#FFFFFF
}
p.texto{
	text-align:justify;
	text-indent:30px;
	font-family:monospace;
	font-size:15px;
	color:#FFFFFF
}

img.principal{
	float:center;
	margin-top:10px;
	margin-left:250px;
	margin-right:50px;	
}
